body,
html {
  overflow-x: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.en {
  direction: ltr;
  text-align: left;
}

.ar {
  direction: rtl;
  text-align: right;
}

ul {
  list-style: none;
}

label {
  text-transform: capitalize;
}

.main-color{
  color: $main-color;
}